---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

#copyright {
  margin-top: 2em;
  float: left;
  font-size: x-small;
  width: 100%;
}

html, body {
  min-height: 100%;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
}

.site-footer {
  width: 100%;
  flex-shrink: 0;
}

.footer-desc {
  font-size: small;
  font-style: italic;
  font-weight: normal;
}

.sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  #index-flow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .sidebar {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 1em;
    margin-top: 1em;
    height: min-content;
    max-height: min-content;
    padding-left: 5vh;
    white-space: nowrap;

    hr {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .sidebar-content {
      font-size: small;
    }

    .sidebar-section {
      font-size: larger;
    }
  }

  .post-flow {
    padding-right: 5vh;
  }
}
